@model YourProject.Models.CalcViewModel

<h2>Using Model</h2>

<p><strong>Random values:</strong> @Model.A and @Model.B</p>

<ul>
    <li>Add: @Model.A + @Model.B = @Model.Add</li>
    <li>Sub: @Model.A - @Model.B = @Model.Sub</li>
    <li>Mult: @Model.A * @Model.B = @Model.Mult</li>
    <li>Div: @Model.Div</li>
</ul>
