<h2>Using ViewBag</h2>

<p><strong>Random values:</strong> @ViewBag.A and @ViewBag.B</p>

<ul>
    <li>Add: @ViewBag.Add</li>
    <li>Sub: @ViewBag.Sub</li>
    <li>Mult: @ViewBag.Mult</li>
    <li>Div: @ViewBag.Div</li>
</ul>
